/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
    display: block;
}

header{
      background: #333;
      padding: .5rem;
      margin:0;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin:0;
    margin-left: 1rem;
    padding: .6rem 1rem;
    text-transform: uppercase;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#cougar {
    background: #B26219;
}

#lion {
    background: #FFBD82;
}

#tiger {
    background: #FFD5AE;
}

section{
  margin: 2rem;
  width: 600px
}

.photo {
  max-width: 600px;
  border: none;
  box-sizing: border-box;
  color: #000;
  margin-left: 4rem;
}

.text {
    max-width: 600px;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none;
    box-sizing: border-box;
    color: #000;
    margin-right: 4rem;
}

#cougar .text {
  color: #FFF;
}

#cougar .photo {
  color: #fff;
}

footer {
  background: #333;
  padding: 1rem;
  margin:0;
}
footer p {
  text-align: center;
}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    text-decoration: none;
    color: #379CB2;
}

a:hover {
    color: #82E8FF;
}
